.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    background-color: var(--dcp-heavy-gray-color);
}

.filter_area {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input {
    margin: auto 0;
    width: 100%;
}

.input_status_options {
    border: 2px solid var(--dcp-black-color);
    background-color: var(--dcp-white-color);
    border-radius: var(--dcp-border-radius-sm);
    padding: var(--dcp-padding-sm);
}

.search_input {
    flex-grow: 1;
    margin: auto 0;
}

.query_filtro {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.filter_btn {
    padding-left: 0;
}

.title_filtro {
    font-size: 2em;
}

.input_options {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 210px !important;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-height: 100px;
    /* Altura máxima fixa */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical */
    width: 100%;
    z-index: 10;
}

.input_options li {
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
    /* Evita que o texto seja quebrado */
}

.input_options li:hover {
    background-color: #f0f0f0;
}

.input_dropdown {
    position: relative;
    display: inline-block;
}

.row_filter {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}

.badge {
    /* padding: 5px; */
    border-radius: 50%;
    color: var(--dcp-white-color);
    background-color: var(--dcp-danger-color);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;;
    right: 2px;
    bottom: 2px;
}

@media only screen and (max-width: 600px) {
    .filter_area {
        width: 95%;
    }
}