.layout_container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.layout_container:not(:only-child) {
    padding-bottom: 60px;
}

.panel {
    margin: 0 auto;
    background-color: var(--dcp-gray-color);
    overflow-x: hidden;
}

.panel_inner {
    position: relative;
}

.page_footer {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer.dev_info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 10;

    color: #FFF;
    background-color: var(--dcp-primary-border-color);
    text-align: center;
}

footer.dev_info a {
    color: #FFF;
    text-decoration: underline;
}

.main-panel {
    display: flex;
}

.adsbygoogle {
    height: calc(100vh - 160px);
}

.menu {
    background-color: #C3C3C3;
    width: 15%;
    min-width: 250px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.menu-options {
    display: flex;
    flex-flow: column nowrap;
}

.menu-option, .menu-option-selected {
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.menu-option-selected {
    background-color: var(--dcp-primary-color);
    margin-top: 5px;
    border-top: 5px solid var(--dcp-primary-border-color);
    border-bottom: 5px solid var(--dcp-primary-border-color);
    color: var(--dcp-white-color);
    cursor: default;
}

.menu-option:hover {
    background-color: #B0B0B0;
}

.menu-option-title {
    margin: auto 0;
    font-weight: 600;
    font-size: 1.5em;
}

.version-area {
    text-align: center;
    padding-bottom: 10px;
}

.content_container {
    /* min-width: 80%; */
    flex-grow: 1;
}

.button-menu-phone {
    display: none;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 800px) {
    .menu {
        width: 90%;
        max-width: 400px;
        height: 100%;
        position: absolute;
        z-index: 2;
        background-color: #c3c3c3fa;
        top: 0;
        left: 0;
    }

    .content_container {
        margin-top: 15px;
    }

    .button-menu-phone {
        display: block;
    }
}

@media (min-width: 576px) {
    .panel {
        border-radius: 10px;
    }
}