.title {
    color: var(--dcp-white-color);
    text-align: center;
    margin: 0.3em 0;
}

.dcp_icon_area {
    display: flex;
    align-items: center;
}

.beta {
    margin-left: 4px;
    padding: 10px;
    background-color: #A469FE;
    color: var(--dcp-white-color);
    user-select: none;
    font-size: 1.5em;
    border: 5px solid #8B3AED;
    border-radius: 10px;
    line-height: 1;
}

.header {
    background-color: var(--dcp-primary-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discipline_button {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    align-items: center;
}

.profile_icon {
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid var(--dcp-white-color);
}

.button_show_header {
    display: none !important;
}


@media only screen and (max-width: 800px) {
    .button_show_header {
        display: flex !important;
    }

    .discipline_button {
        padding-left: 0;
    }
}
/* background-color: rgba(0,0,0,0.5); */