@import url("@codecompanybrasil/discipline-core/dist/styles/discipline-core.min.css");

body {
  background-color: var(--dcp-primary-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* TODO: Remover após atualização do Discipline-core */

:root {
  --dcp-heavy-gray-color: #929292;
}

.dcp-icon-button .dcp-icon {
  width: 32px;
  height: 32px;
}
/* Fim do FIX */